.grid{
    display: flex;
    background-color: aqua;
    height:900px;
    width:100%;
    align-items: center;
    justify-content: center;

}
.container{
    height: 500px;
    width:50%;
    display: grid;
    grid-template-columns: repeat(4,23.5%);
    justify-content: center;
    background-color: black;
    gap: 10px 12px;
    
}

.container .items{
    color:white;
    background-color: blueviolet;
    margin:5px;
    display: flex;
    align-items: center;
    justify-content: center; 
}