.grid{
    display: flex;
    height: 600px;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,20%);
    justify-content: center;
    align-content: center;
    gap:10px;
}
.container .item{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    border: 1px solid rgb(232,232,232);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.item p{
    margin:10px 12px;

}